DATABASE_URL="postgresql://USER:PASSWORD@EP-PROJECT-pooler.REGION.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://USER:PASSWORD@EP-PROJECT.REGION.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
PRISMA_CONNECTION_LIMIT=1

AUTH_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
MERCADOPAGO_ACCESS_TOKEN=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PIX_KEY=
PIX_MERCHANT_NAME=
PIX_MERCHANT_CITY=
RESEND_API_KEY=
RESEND_FROM_EMAIL="CAFÉ Store <no-reply@seudominio.com>"
NEXT_PUBLIC_BASE_URL=http://localhost:3000
